/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: calc(100vh - 150px);
    background-color: rgb(0, 0, 0);
    padding: 5vh 10vh;
    overflow: scroll;
}

header{
    background-color: rgb(0, 0, 0);
    height: 50px;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.button-style{
    color: white;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.view{
    top: 5px;
    right: 40px;
}

.view-icon{
    top: 5px;
    right: 10px;
}


.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.card-container{
    width: 220px;
    height: 140px;
    border: 1px solid black;
}

.card{
    width: 100%;
}

footer{
    height: 100px;
    width: 100%;
    background-color: rgb(66, 60, 60);
    position: fixed;
    z-index: 2;
}