/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: calc(100vh - 150px);
    background-color: rgb(0, 0, 0);
    padding: 5vh 10vh;
    overflow: scroll;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.flex-end{
    justify-content: flex-end;
}

.centered{
    align-items: center;
}

header{
    background-color: rgb(0, 0, 0);
    height: 50px;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.view{
    top: 5px;
    right: 60px;
}

.view-icon{
    top: 5px;
    right: 10px;
}

.button-style{
    background-color: grey;
    border-radius: 10px;
    padding: 8px;
    border: none;
    font-weight: 800;
    font-size: .85rem;
}

.eye{
    font-size: 1.2rem;
    padding-right: .50rem;
}

.mic{
    font-size: 1.2rem;
    padding: 0 .50rem;
}


.card-container{
    width: 220px;
    height: 140px;
    border: 1px solid black;
    padding: 3px
}

.card{
    width: 100%;
}

footer{
    height: 100px;
    width: 100%;
    background-color: rgb(66, 60, 60);
    position: fixed;
    z-index: 2;
    min-width: 1000px;
}


.flex-footer{
    flex-direction: column;
}

.user-cam-mic,
.meeting{
    flex-basis: 20%;
}

.zoom-option{
    flex-basis: 60%;
}

.white{
    color: white;
}

footer i{
    font-size: 2rem;
    padding-bottom: .50rem;
}

.square{
    height: 100%;
    width: 50%;
    background-color: gray;
    color: red;
}

.meeting-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}